.hero {
  position: relative;             
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 4rem 2rem;
  gap: 3rem;
  min-height: 75vh;

  background-image: url('/src/assets/images/hero.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  overflow: hidden;
}


.hero::before {
  content: "";
  position: absolute;
  inset: 0;

  background-image: inherit;
  background-size: inherit;
  background-position: inherit;
  background-repeat: inherit;

  filter: blur(100px);              
  transform: scale(1.1);           
  z-index: 0;
  opacity: 0.75;                   
}


.hero > * {
  position: relative;
  z-index: 1;
}

.hero-left {
text-align: center;
}

/* HEADINGS & TEXT */
.hero-left h1 {
  font-size: 3rem;
  font-weight: 700;
  color: #fff;
}

.hero-left h1 span {
  color: var(--primary);
}

.hero-left p {
  margin: 1rem 0 2rem;
  font-size: 1.15rem;
  color: #ffffff;
  max-width: 480px;
  text-shadow: 0 2px 8px rgba(0,0,0,0.5);
}


/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    padding: 3rem 1.5rem;
    text-align: center;
  }

  .hero-right img {
    width: 260px;
  }
}
