.spinner {
  position: absolute;
  width: 64px;
  height: 64px;
  background-color: #fff;
  border-radius: 10px;

  /* Start horizontally centered and off-screen at the top */
  left: 50%;
  top: -100px;
  transform: translateX(-50%);

  /* First fall, then spin */
  animation: fallToCenter 1s ease-out forwards, spin 2s linear infinite 1s;
}

/* Fall from above viewport to vertical center */
@keyframes fallToCenter {
  0% {
    top: -100px;
    opacity: 0;
  }
  80% {
    top: 55%;
    opacity: 1;
  }
  100% {
    top: 50%;
    transform: translate(-50%, -50%);
  }
}

/* Rotation once landed */
@keyframes spin {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
