/* PROJECTS SECTION */

.projects-section {
  padding: 4rem 6rem;
  background: var(--bg-dark);
  text-align: center;
  color: white;
}

.projects-section h2 {
  font-size: 2.4rem;
  margin-bottom: 3rem;
  color: var(--primary);
  font-weight: 700;
}

/* GRID */

.project-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2.5rem;
}

@media (max-width: 1000px) {
  .project-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 700px) {
  .project-grid {
    grid-template-columns: 1fr;
  }
}

/* CARD */

.project-card {
  background: rgba(255, 255, 255, 0.05);
  padding: 1.5rem;
  border-radius: 12px;
  min-height: 32rem;
  border: 1px solid rgba(255, 255, 255, 0.12);
  transition: 0.35s;
  cursor: pointer;
  position: relative;
  overflow: hidden;
  text-align: left;
}

.project-card:hover {
  transform: translateY(-8px);
  border-color: var(--primary);
  box-shadow: 0px 0px 25px rgba(10, 132, 255, 0.3);
}

.project-card img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.project-card:hover img {
  opacity: 0.9;
}

.project-card h3 {
  font-size: 1.4rem;
  font-weight: 600;
}

.project-card p {
  color: var(--gray-light);
  line-height: 1.5;
}

/* Shine Effect */

.project-card::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 60%;
  height: 100%;
  background: linear-gradient(120deg, transparent, rgba(255, 255, 255, 0.25), transparent);
  transition: 0.6s;
}

.project-card:hover::after {
  left: 100%;
}

@media (max-width: 700px) {
  .projects-section h2 {
    font-size: 2rem;
  }
}